{% extends 'base.html' %}
{% block main %}
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <hr class="text-white">
        <div class="col text-md-center">
            <img src="{{ user_profile.photo_url }}" alt="mdo" width="128" height="128" class="rounded-circle">
            <hr>
            <h2 class="text-dark">{{ user_profile.user.username }}</h2>
            <h6 class="text-secondary">{{ user_profile.telephone }}</h6>
            <h6 class="text-secondary">{{ user_profile.user.email }}</h6>
            <h6 class="text-secondary">{{ user_profile.school }} - {{ user_profile.major }} </h6>
            <a href="{% url 'userprofile:wordcloud' user_profile.user_id %}" class="link-secondary">Keywords</a>
        </div>
        <hr>
        <h3 class="blog-post-title">Articles</h3>
        {% for article in article_list %}
            <a href="{% url 'article:details' article.pk %}" class="text-dark text-decoration-none">
                <h4 class="link-secondary">{{ article.title }}</h4>
            </a>
            <p class="blog-post-meta">{{ article.modified_time }} </p>
            <p>{{ article.abstract }} <a href="{% url 'article:details' article.pk %}" class="text-decoration-none"> 更多 </a>
            </p>
            <hr class="text-white">
        {% empty %}
            <div class="no-results">NO RESULTS</div>
        {% endfor %}
        <hr>
        <h3 class="blog-post-title">Notebooks</h3>
        <div class="row">
        {% for notebook in notebook_list %}
            <div class="col-md-4">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">{{ notebook.course }}</strong>
                        <h3 class="mb-0 fw-bold">
                           <a class="text-black text-decoration-none" href="{% url 'notebook:details' notebook.pk %}">
                               {{ notebook.notebook_name }}
                           </a>
                        </h3>
                        <div class="mb-1 text-muted">{{ notebook.created_time }}</div>
                        <div class="mb-1 text-muted">{{ notebook.author }}</div>
                        <p class="card-text mb-auto">{{ notebook.abstract }}</p>
                        <a href="{% url 'notebook:details' notebook.pk %}" class="text-decoration-none">Continue reading</a>
                    </div>
                </div>
            </div>
        {% empty %}
        <div class="no-results">NO RESULTS</div>
        {% endfor %}
        </div>
    </div>
    <div class="col-md-2">

    </div>
</div>
{% endblock main %}