{% extends 'base.html' %}
{% load notebook_extras %}
{% block main %}
    <div class="row">
        <div class="col-md-2">
            {% show_contents notebook.pk %}
        </div>
        <div class="col-md-7">
            <article class="blog-post px-5">
                <h2 class="blog-post-title text-center">{{ notebook.notebook_name }}</h2>
                <hr>
                <p class="fs-6 blog-post-meta text-center">{{ notebook.created_time }} &nbsp; <a href="{% url 'userprofile:profiles' notebook.author.pk %}">{{ notebook.author }}</a></p>
                <hr>
                <p class="fs-6 blog-post-body">{{ notebook.foreword|safe }}</p>
            </article>
        </div>
        <div class="col-md-3">

        </div>
    </div>

{% endblock main %}
